@{
    Layout = "_AccessDeniedLayout";
}

<section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1>403</h1>
    <h2>Bu sayfaya erişim yetkiniz bulunmamaktadır.</h2>
    <a class="btn" asp-controller="Account" asp-action="Login">Anasayfaya dön</a>
    <img src="../img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
    <div class="credits">
     
        Designed by <a href="#">BESMIK</a>
    </div>
</section>