
@{
    Layout = "_LoginLayout";
}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.5)),url('../img/humanresources.png') no-repeat center center fixed;
        background-size: cover;
    }

    .card {
        background: rgba(255, 255, 255, 1.0);
        border: none;
        border-radius: 8px;
    }
</style>


<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Şifre Resetleme</h5>
            <p class="text-center small">Şifrenizin resetlenmesi için lütfen mail adresinizi kontrol ediniz.</p>
            <a asp-action="Login" asp-controller="Account">Giriş sayfasına dön...</a>
        </div>
    </div>
</div>