@model ForgotPasswordModel
@{
    Layout = "_LoginLayout";
}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.5)),url('../img/humanresources.png') no-repeat center center fixed;
        background-size: cover;
    }

    .card {
        background: rgba(255, 255, 255, 1.0);
        border: none;
        border-radius: 8px;
    }
</style>


<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Şifremi Unuttum?</h5>
            <p class="text-center small">Şifre resetlemek için mail adresinizi giriniz.</p>
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="row g-3 needs-validation" novalidate>

            <div class="col-12">
                <label for="yourUsername" class="form-label">Mail Adresi</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@@</span>
                    <input type="text" name="Email" class="form-control" id="yourUsername" required>
                    <div class="invalid-feedback">Lütfen mail adresinizi giriniz.</div>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-warning">Şifre Resetle</button>
            </div>
        </form>

    </div>
</div>