@{
    Layout = "_LoginLayout";
}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.5)),url('../img/humanresources.png') no-repeat center center fixed;
        background-size: cover;
    }

    .card {
        background: rgba(255, 255, 255, 1.0);
        border: none;
        border-radius: 8px;
    }
</style>


<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Hesabınıza giriş yapın</h5>
            <p class="text-center small">Giriş yapmak için email adresinizi ve şifrenizi giriniz.</p>
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <form asp-controller="Account" asp-action="Login" method="post" class="row g-3 needs-validation" novalidate>

            <div class="col-12">
                <label for="yourUsername" class="form-label">Mail Adresi</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@@</span>
                    <input type="text" name="email" class="form-control" id="yourUsername" required>
                    <div class="invalid-feedback">Lütfen mail adresinizi giriniz.</div>
                </div>
            </div>

            <div class="col-12">
                <label for="yourPassword" class="form-label">Şifre</label>
                <input type="password" name="password" class="form-control" id="yourPassword" required>
                <div class="invalid-feedback">Lütfen şifrenizi giriniz.</div>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Beni Hatırla</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-warning w-100" type="submit">Giriş Yap</button>
            </div>
            <div class="col-12">
                <p class="small mb-0">Şifremi Unuttum? <a asp-action="ForgotPassword" asp-controller="Account">Şifre Resetleme</a></p>
            </div>
        </form>

    </div>
</div>