@model ResetPasswordModel

@{
    Layout = "_LoginLayout";
}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.5)),url('../img/humanresources.png') no-repeat center center fixed;
        background-size: cover;
    }

    .card {
        background: rgba(255, 255, 255, 1.0);
        border: none;
        border-radius: 8px;
    }
</style>

<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Şifrenizi sıfırlayın.</h5>
            <p class="text-center small">Giriş yapmak için email adresinizi ve şifrenizi giriniz.</p>
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="row g-3 needs-validation " novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Code" />
            <input type="hidden" asp-for="Email" />

            <div class="col-12">
                <label for="password" class="form-label">Yeni Şifrenizi Giriniz</label>
                <input asp-for="Password" type="password" class="form-control" id="password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label for="confirmPassword" class="form-label">Yeni Şifrenizi Tekrar Giriniz</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" required>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button class="btn btn-warning w-100" type="submit">Sıfırla</button>
            </div>
        </form>

    </div>
</div>
