<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">İŞLEMLER</li>

   
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-fill"></i><span>ŞİRKET YÖNETİCİSİ İŞLEMLERİ</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="CompanyManagerHome" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Profil Özet</span>
                    </a>
                </li>
                <li>
                    <a asp-area="CompanyManager" asp-controller="CompanyManagerHome" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Profil Detay</span>
                    </a>
                </li>
                <li>
                    <a asp-area="CompanyManager" asp-controller="CompanyManagerHome" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Profil Güncelleme</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->



        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-bank-card-fill"></i>

                <span>HARCAMA TALEPLERİ</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="SpendingManagement" asp-action="SpendingManagementList">
                        <i class="bi bi-circle"></i><span>Harcamaları Talepleri Listele</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->



        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-building"></i>

                <span>İzin Talepleri</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="PermissionManager" asp-action="PermissionListByCompanyId">
                        <i class="bi bi-circle"></i><span>İzinleri Listele</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#advance-forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-building"></i>

                <span>Avans Talepleri</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="advance-forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="AdvanceManagement" asp-action="AdvancesList">
                        <i class="bi bi-circle"></i><span>Avansları Listele</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->
@* 
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bank"></i>

                <span>Avans Talepleri</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                 <li>
                    <a asp-controller="Advance" asp-action="AdvancesList">
                        <i class="bi bi-circle"></i><span>Avans Listele</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Advance" asp-action="AdvanceAdd">
                        <i class="bi bi-circle"></i><span>Avans Talep</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Tables Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-apps-line"></i>

                <span>Personel İşlemleri</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="Personal" asp-action="PersonalList">
                        <i class="ri-file-list-3-fill"></i><span>Personel Listele</span>
                    </a>
                </li>
                <li>
                    <a asp-area="CompanyManager" asp-controller="Personal" asp-action="PersonalAdd">
                        <i class="ri-user-add-fill"></i><span>Personel Ekle</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Tables Nav -->

 

</aside><!-- End Sidebar-->