@model List<CompanyViewModel>

@{
    Layout = "_AdminLayout";
}

<div class="pagetitle">
    <h1>Şirket Listesi</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="AppUser" asp-action="Summary">Anasayfa</a></li>
            <li class="breadcrumb-item">Şirket İşlemleri</li>
            <li class="breadcrumb-item active">Şirket Listele</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Şirket Listesi</h5>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Şirket Logosu</th> @* Bunlar istenilen proplarla değiştirilecek yüksek iht. *@
                                <th>Şirket Adı</th> @* Bunlar istenilen proplarla değiştirilecek yüksek iht. *@                                
                                <th>Telefon</th> @* Bunlar istenilen proplarla değiştirilecek yüksek iht. *@
                                <th>E-Mail</th> @* Bunlar istenilen proplarla değiştirilecek yüksek iht. *@
                                <th>Detaylar</th> @* Bunlar istenilen proplarla değiştirilecek yüksek iht. *@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        
                                        <img src="~/images/appUser/@item.Logo" alt="Profil" style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;">
                                    </td>
                                    
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a asp-controller="Companies" asp-action="CompanyDetails" asp-route-id="@item.Id" class="btn btn-primary">Detaylar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
