@model List<CompanyViewModel>

@{
    Layout = "_AdminLayout";
}


<div class="pagetitle">
    <h1>Şirket İşlemleri</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
            <li class="breadcrumb-item">Şirket İşlemleri</li>
            <li class="breadcrumb-item active">Şirket Listele</li>
        </ol>
    </nav>
</div>


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Şirket Listesi</h5>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Şirket Adı</th>
                                <th>Şirket Çalışan Sayısı</th>
                                <th>Telefon</th>
                                <th>E-Mail</th>                              
                           </tr>
                        </thead>
                        <tbody>
                            @foreach (CompanyViewModel item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.EmployeesNumber</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                               </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</section>