<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>BESMIK</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a asp-area="" asp-controller="AppUser" asp-action="Summary">BESMIK</a>
    </div>
</footer>